<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Space Bar</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>de.yanone.SpaceBar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SpaceBar</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1.04</string>
	<key>CFBundleShortVersionString</key>
	<string>1.04</string>
	<key>UpdateFeedURL</key>
	<string>https://yanone.de/buy/?page=versionInformation&amp;product=spacebarglyphs&amp;format=GlyphsInfoPlist</string>
	<key>productPageURL</key>
	<string>https://yanone.de/software/spacebar/</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Yanone, 2018</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SpacingInvader</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
