<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>de.yanone.SpaceBar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SpaceBar</string>
	<key>CFBundleShortVersionString</key>
	<string>1.13</string>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>productPageURL</key>
	<string>https://yanone.de/software/spacebar/</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Yanone, 2018</string>
	<key>NSPrincipalClass</key>
	<string>SpacingInvader</string>
</dict>
</plist>
